# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
. ~/.bashrc
fi

# User specific environment and startup programs

export JAVA_HOME={{ jws_apache.user_home }}/java/{{ jboss_java_sdk_dir }}
PATH=$PATH:$HOME/.local/bin:$HOME/bin:{{ jws_apache.user_home }}/java/{{ jboss_java_sdk_dir }}/bin

export PATH
