# This file contains a summary of the parametrization for the current Red Hat JBoss EAP instance.

# Golden image used
jws_httpd_zip_artifact_name: {{ jws_httpd_zip_artifact_name }}

# Name of the separate JBoss EAP instance
jboss_jws_instance_name: {{ jboss_jws_instance_name }}

