[Unit]
Description=Red Hat JWS Apache HTTPD
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
WorkingDirectory={{ jboss_jws_home }}/httpd/sbin

ExecStart={{ jboss_jws_home }}/httpd/sbin/apachectl start
ExecStop={{ jboss_jws_home }}/httpd/sbin/apachectl stop


User=root
Group=root

[Install]
WantedBy=multi-user.target
