# mod_proxy_balancer should be disabled when mod_cluster is used
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule cluster_slotmem_module modules/mod_cluster_slotmem.so
LoadModule manager_module modules/mod_manager.so
LoadModule advertise_module modules/mod_advertise.so

MemManagerFile {{jboss_jws_instance_dir}}/cache/mod_cluster

<IfModule manager_module>
  Listen {{jboss_jws_mod_cluster_port}}
  <VirtualHost *:{{jboss_jws_mod_cluster_port}}>
    <Directory />
      Require ip 127.0.0.1
      Require ip 10.0.0.0/8
    </Directory>
    ServerAdvertise on
    EnableMCPMReceive
    <Location /mod_cluster_manager>
      SetHandler mod_cluster-manager
      Require all granted
   </Location>
  </VirtualHost>
</IfModule>
